.reviews {
  display: inline-block;
  position: relative;
  padding: 8px;
}
.reviews::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #0052cc;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
