@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

/* @theme {
    --font-display: "Inter", sans-serif;
    --font-display: "Poppins", sans-serif;
}

body {
    font-family: var(--font-inter);
} */

@theme {
    --font-inter: "Inter", sans-serif;
    --font-poppins: "Poppins", sans-serif;
}
body{
    font-family: var(--font-inter);

}

.container {
    @apply max-w-[1350px] mx-auto px-4;
}
.dot-content{
position: relative;
}
.dot-content .dot{

    background-color: #00B720;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    display: inline-block;
    top: 0;
    left: 0;
    position: absolute; 
    z-index: 55;
    transform: translate(-50%, -50%);   
    box-shadow: 3px 3px 6px rgba(12, 37, 3, 0.679);
    animation: dot 5s cubic-bezier(.48,.73,.81,.79) infinite;

}
/* @keyframes dot {
    0% {
       left: 100%;
       top: 0;
    }
    25% {
        top: 100%;
       left: 100%;
    }
    50% {
        top: 100%;
       left: 0%;
    }
    100% {
        top: 0;
       right: 0;
    }
} */
 

@keyframes dot {
  0% {
    top: 0;
    left: 100%;
    background-color: rebeccapurple;
  }
  25% {
    top: 100%;
    left: 100%;
    background-color: orange;
  }
  50% {
    top: 100%;
    left: 0%;
    background-color: yellow;
  }
  75% {
    top: 0%;
    left: 0%;
    background-color: green;
  }
  100% {
    top: 0%;
    left: 100%;
    background-color: rebeccapurple;
  }
} 
