.contact {
  display: inline-block;
  position: relative;
  padding: 10px;
}
.contact::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #00b270;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
